@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');

body {
  margin-top: 70px;
  height: 100vh;
  background-color: darkslategray;
}

.header-text {
  margin-left: 120px;
  margin-bottom: 30px;
  font-family: 'Dosis';
  color: whitesmoke;
}

.move {
  display: contents;
}

.currencyInput {
  margin-bottom: 40px;
}

.selectTag {
  height: 40px;
  margin-bottom: 30px;
}

.btn {
  font-family: 'Quicksand';
}

.to-span {
  color: whitesmoke;
  font-family: 'Quicksand';
  margin-right: 20px;
  margin-left: 20px;
}